#jengo_howWeWork {
  margin-block: 4rem;
}

#jengo_howWeWork_container {
  padding: 1rem;
  max-width: 750px;
  margin: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

#jengo_howWeWork_container h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

#work_list {
  display: flex;
  flex-direction: column;
}

#work_list li {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  border-top: 1px solid;
}

#work_list li span:first-of-type {
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

#work_list li span:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}

#work_list li span:last-of-type h2 {
  text-transform: uppercase;
  font-size: 1.35rem;
}
